@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Century Gothic", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue",
  sans-serif;
}

ol {
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}

h1 {

  font-family: Bodoni MT;
  font-size: 30px;
  margin-left: 15px;
  text-decoration: underline;
}
